body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}

a:link,
a:visited,
a:-webkit-any-link {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.pageContainer {
  position: relative;
  min-height: 100vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.contentWrap {
  padding-bottom: 7rem; /* Padding for footer */
}

.home {
  margin-right: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

.navBarContainer {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  padding-top: 2rem;
  background: #fff;
}

.navBar {
  padding-left: 2rem;
  width: 100%;
  max-width: 1200px;
}

.navItem {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.navSelected {
  text-decoration: underline !important;
}

.linkedin {
  position: relative;
  top: -2px;
  margin-right: 1rem;
}

.navIconDiv {
  float: right;
  margin-right: 4rem;
  margin-top: 0.5rem;
}

.navIcon {
  width: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro {
  margin-top: 10%;
  text-align: center;
}

.introHeader {
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #5f5e60;
}

.introSubHeader {
  font-weight: 100;
  font-size: 18px;
  margin-top: 0;
  padding-top: 0;
  color: #818181;
}

.introText {
  font-weight: 100;
  color: #000;
}

.projectContainer {
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  margin-top: 10%;
}

.projectTitle {
  margin-left: 2rem;
  margin-top: 0px;
}

.projectHeader {
  color: #818181;
  padding-top: 4rem;
  margin-left: 2rem;
  margin-top: 10%;
  margin-bottom: 0px;
}
.projPageTitle {
  margin-left: 2rem;
  margin-top: 0px;
  font-size: 2rem;
}

.projPageHeader{
  font-size: 1.5rem;
  color: #818181;
  padding-top: 4rem;
  margin-left: 2rem;
  margin-top: 10%;
  margin-bottom: 0px;
}

.projectItem {
  height: 500px;
  width: 375px;
  margin-bottom: 1rem;
  transition: all 0.3s ease 0s;
}

.projectItem:hover {
  overflow: visible;
  padding: 0px;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.4);
  color: #fff;
  text-decoration: none;
}

.imgContainer {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  background-color: #2f2473;
}

.pdo {
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}
.ddi {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.projectCardHeader {
  font-size: 16px;
  margin-bottom: 0px;
  text-align: center;
  color: #fff;
}

.projcetCardTitle {
  font-size: 22px;
  font-weight: 700;
  margin-top: 0px;
  text-align: center;
  color: #fff;
}

.second {
  background-color: #302e82;
}

.third {
  background-color: #736c9e;
}

.fourth {
  background-color: #bebcc8;
}

.fifth {
  background-color: #848c98;
}

.sixth {
  background-color: #bbbac5;
}

.projPageContainer {
  margin-left: auto;
  margin-right: auto;
  height: 540px;
  width: 98%;
  min-width: 900px;
  background-color: #302e82;
  display: table;
}

.projPageTxtContainer {
  color: #fff;
  display: table-cell;
  padding: 2rem;
  position: absolute;
  margin-top: 100px;
  margin-left: -85px;
  min-width: 250px;
}

.projPageDdiImgContainer {
  width: 660px;
  height: 100%;
  margin-right: 0;
  display: table-cell;
}

.projPageDdiImg {
  margin-left: -30px;
  width: 100%;
  display: block;
}

.ddiColorPallet {
  display: block;
  position: relative;
  width: 70%;
  margin-left: 23px;
  bottom: -20px;
}

#projBtnDiv{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#ddiBtn{
  color: white;
  background-color: #2f2473;
  border-radius: 20%;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s; 
  text-decoration: none;
  font-weight: 900;
}

#ddiBtn:hover {
  zoom: 1.01;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 650px) {
  .home {
    display: block;
    width: 100%;
  }
  .navItem {
    margin-left: inherit;
  }
  .navIconDiv {
    margin-top: inherit;
    margin-right: 2rem;
  }
  .intro {
    margin-top: 20%;
  }
}
